body {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif;
} 

.chat-section {
    background-color: white;
    height: 100vh;
    width: 20vw;
    border: 0.5px solid #e8ebe4;
}

.chat-image {
    border-radius: 50%;
    width: 15%;
}

.new-chat-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

}

button {
    background-color: #A491D2;
    border: none;
    color: white;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 12%;
    padding-right: 12%;
}

.principal-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    height: 100vh;
    width: 80vw;
}

.principal-section img {
    width: 20%;
    border-radius: 5%;
}
.principal-section h1 {
    margin-bottom: 0%;
    text-align: center;
}

.principal-section p {
    margin-top: 0.5%;
    text-align: center;
}

.chat-section div {
    border: 0.5px solid #e8ebe4;
    
}

.maria-user {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.chat-message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}